.home-container{
    width: 100%;
    /* height: 312vh; */
    position:relative;
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    /* background-color: #1F305E; */
  }
  .home-video{
      width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .home-content{
      position: absolute;
      width: 77%;
      height: 100vh;
      top: 10%;
      right: 20%;
      text-align: left;
      /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-weight: lighter;
      font-size: large; */
      /* font-family: "Barlow Condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
      font-size: 30px; */
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
      color: aliceblue;
  }
  .list{
      list-style: none;
  }
  .home-list i{
      color: rgb(0, 255, 170);
  }
  
  .welcome-card{
      /* border: 5px solid; */
      color: #000000;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 0%;
      margin-bottom: 30px;
      /* background-color: blue; */
  }
  #c1{
      width: 50%;
      text-align: center;
      height: 300px;
      display: flex;
      flex-direction: column;
  }
  #c1 h3 {
      margin-bottom: -20px;
      color:#bab641;
      font-family: "Shadows Into Light";
      font-size: 54px; 
      font-style: normal; 
      font-variant: normal; 
      font-weight: 700; 
      line-height: 26.4px;
      transform: rotate(-12deg);
      transform-origin: 40% 1999%;
  }
  #c1 h2{
          margin-bottom: -5px;
          font-size: 2.5em;
  }
  #c1 hr{
      width: 160px;
      position: relative;
      text-align: center;
      justify-content: center;
      border: 2px solid #bab641;
      color: #bab641;
  }
  #c1 p {
      margin-top: 50px;
      font-size: 1.2em;
  }
  #choose{
      width: 100%;
      height: 175vh;
      /* background-image:url(C:\Users\gowth\Desktop\mugil\website\src\assert\choose-us.jpg); */
      position: relative;
  }
  #choose img{
      width: 94%;
      height: 110vh;
      position: relative;
      margin-bottom: 0%;
  
  }
  .choose-content p{
      text-align: justify;
      padding-left: 70px;
      padding-right: 70px;
  }
  .choose-content{
      position: absolute;
      top: 42%;
      color: rgb(255, 255, 255);
      font-size: 1.2em;
      backdrop-filter: blur(10px);
      width: 90%;
      margin-left: 75px;
  }
  .choose-card{
      display: inline-flex;
      flex-direction: row;
      width: 65%;
      font-size: 1.2em;
      color: #000000;
      margin: 2%;
  }
  .c-card{
      text-align: left;
      margin: 10px;
      padding: 20px;
      background-color: #d8d5d5;
      font-weight: 600;
  }
  .c-card p{
      text-align: justify;
  }
  .c-card i {
      font-size: 3em;
      padding-top: 30px;
      margin-bottom: -60px;
  }
  .c-card h5{
      font-size: 1em;
      margin-bottom: -20px;
      font-weight: lighter;
  }
  .c-card h3{
      font-weight: 700;
      color: #1F305E;
  }
  .choose-content h2{
      font-family: "Shadows Into Light";
      font-size: 40px; 
      font-style: normal; 
      font-variant: normal; 
      font-weight: 700; 
      line-height: 26.4px;
  }
  
  @media screen and (max-width: 650px){
   .home-video{
      height: 75vh;
      object-fit: cover;
      object-position: left bottom;
   } 
   .welcome-card{
      min-height: 110vh;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: -20%;
  }
  .welcome-card p{
      width: 60vh;
      margin-left: -37%;
  }
  .choose{
      height: 75vh;
      object-fit: cover;
      object-position: left bottom;
  }
  .choose-content{
      top: 10%;
      margin-left: 5%;
  }
  .choose-card{
      flex-wrap: wrap;
  }
  }
  @media screen and (min-width: 650px) and (max-width: 990px){
      .home-video{
          object-fit: cover;
      object-position: left bottom;
      }
      .welcome-card{
          min-height: 110vh;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: -20%;
          margin-bottom: -15%;
      }
      .welcome-card p{
          width:50vh;
          display: flex;
          flex-wrap: wrap;
      }
      .choose-content{
          top: 10%;
          margin-left: 5%;
      }
      .choose-card{
          flex-wrap: wrap;
      }
   }